# .ebextensions/01-docker.config
container_commands:
  01_stop_automatic_cleanup:
    command: "echo 'Preventing automatic Docker image cleanup'"
    leader_only: true
    ignoreErrors: true
    cwd: "/etc/cron.daily/"
    test: "[ ! -f /etc/cron.daily/docker-cleanup ]"
    command: "rm -f /etc/cron.daily/docker-cleanup"